@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #293133;
  --foreground: #f5f5f5;
  --accent: #c1ff00;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
